In [1]:
import pandas as pd
import numpy as np

In [2]:
car = pd.read_csv('car_data.csv')
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,"45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [3]:
car.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [5]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

### Qulity
- year has many non-year value
- year object to int
- price has ask for price
- price object to int
- kms_driven has kms with integer
- kms_driven object to int
- kms_driven has nan values
- fule_type has nan values
- keep first 3 word of name

### Cleaning

In [6]:
backup = car.copy()

In [7]:
car = car[car['year'].str.isnumeric()]

In [8]:
car['year'] = car['year'].astype(int)

In [9]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [10]:
car = car[car['Price'] != 'Ask For Price']

In [11]:
car['Price']

0         80000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

In [12]:
car['Price'] = car['Price'].str.replace(',','').astype(int)
car['Price']

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int64

In [13]:
car['kms_driven'] = car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [14]:
car = car[car['kms_driven'].str.isnumeric()]

In [15]:
car['kms_driven'] = car['kms_driven'].astype(int)

In [16]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [17]:
car[car['fuel_type'].isna()]

               name company  year   Price  kms_driven fuel_type
132  Toyota Corolla  Toyota  2009  275000       26000       NaN

In [18]:
car = car[~car['fuel_type'].isna()]

In [19]:
car['name']

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [20]:
car['name'] = car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [21]:
car['name']

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [22]:
car = car.reset_index(drop=True)

In [23]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [24]:
car = car[car['Price'] < 6e6].reset_index(drop=True)

In [25]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [26]:
car.to_csv('Clean car.csv')

### Model

In [27]:
x = car.drop('Price', axis=1)
y =  car['Price']

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [30]:
ohe = OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [31]:
colum_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name', 'company','fuel_type']),
                                     remainder='passthrough')

In [32]:
lr = LinearRegression()

In [33]:
pipe = make_pipeline(colum_trans, lr)

In [34]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [35]:
y_pred = pipe.predict(x_test)

In [36]:
y_pred

array([ 413671.6168347 ,  426770.25605504,  301409.53132097,
        387440.1973782 ,  376986.1808282 ,  337508.232358  ,
        412829.1215465 ,  432321.70831209,  459559.11356775,
        415616.94942278,  295361.12804195,  292164.28773296,
         19575.08903439,  762290.16402811,  293823.55697132,
        355970.16148545,   90248.60708282,  -18236.34155354,
        124869.70927761, 1501710.72610018,  350107.36164348,
        331843.75665522,  205165.07544796,  426860.3847443 ,
        421197.8550801 ,  244418.53050762,  374563.2120902 ,
        384004.97082792,  474540.06750321,  162572.84425885,
        238824.78403502,  277333.79629955,  194636.59933168,
         25253.92722694,  385958.12917846,  256419.73908348,
         15956.61052638,  764197.28988186,  153768.4057337 ,
        458461.34801666,  508735.46838357,   84318.22514342,
        313320.13851414,  482190.9639808 ,  191930.24448217,
        462651.36184616,  506457.81012017,  199344.03501923,
        261188.13044698,  382538.29770853,  267689.18705988,
         93394.4620283 ,  267964.59906398,  -32894.29470128,
        563398.01616471,  388819.74415858,  189547.75409911,
        587691.21506808,   81482.63204885,  571181.71872573,
        309376.0516126 ,   91346.50922665,  221944.16027354,
        167361.84205258,  562750.76700209,  594636.85184178,
        214437.34875526,  158452.74461408,   84351.46301356,
        439446.26652551,  469533.48455475,  184643.09107672,
        286029.30832025,  463622.08593101,  479904.10158939,
        191603.56657231,  -63634.76691324,  217669.72180153,
       -115583.44515881,   47100.3181707 ,  328437.2412023 ,
        596407.8867643 ,  338950.30853242,  416831.39069544,
        465130.48609509,  150626.43386982,  342104.94601458,
        837585.06850067,  270809.77373106,  -12333.85309256,
        153768.4057337 ,   85632.95212565,  159396.14346891,
        508388.46107855,  429370.78024153,  264527.23993074,
        212297.86803063,  213835.34944274,  367823.00099408,
        507147.95779958,   61944.95903601,  468994.99781365,
        247087.69207017,  517499.56328214,  422637.90195613,
        309584.25599562,  289445.7506946 ,  211245.29221466,
        264729.17449635,  309027.82527173,  276372.56559584,
        607679.86080657,   53610.11758991,  587388.64455411,
        300896.99176029,  502877.09923537,  201008.08747852,
        209467.59444533,  263340.39376984,  465863.91473092,
        290707.05860246,  209970.75503761,  333113.37796258,
        392844.41466767,  530122.05217017,  638926.688832  ,
        503786.68376681,  271998.25545285,  362130.22800166,
        575641.02284198,  244418.53050762,  231226.63715405,
        430466.63826364,  231226.63715405,  604044.99519512,
        304063.44857778,  428759.50515814,  370487.40739462,
        -87963.068707  ,  519927.08062297,  557924.96274335,
        349679.13027426,  121981.99879782,  355393.72601895,
         89463.80006434,  408695.44638346,  655470.07595733,
        338665.15284028,  353440.71044238, 1016724.80924316,
        406391.51062004,  266245.75869875,  597053.05824568,
         -4917.76153588,  453511.74752007,  517190.52852115,
        242756.47086405,  294932.41283148,  185626.50790648,
        426244.96480355, 2151169.03724348,  331249.1007796 ,
        215223.37866282])

In [37]:
r2_score(y_test, y_pred)

0.5097873216562976

In [38]:
# which random_state the score is maximum
score = []
for i in range(1000):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(colum_trans, lr)
    pipe.fit(x_train, y_train)
    y_pred = pipe.predict(x_test)
    score.append(r2_score(y_test, y_pred))

In [39]:
np.argmax(score)

433

In [40]:
score[np.argmax(score)]

0.8456515104452564

In [41]:
# moedel train with new train_test_split()
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=np.argmax(score))
lr = LinearRegression()
pipe = make_pipeline(colum_trans, lr)
pipe.fit(x_train, y_train)
y_pred = pipe.predict(x_test)
score.append(r2_score(y_test, y_pred))
r2_score(y_test, y_pred)

0.8456515104452564

In [42]:
import pickle

In [43]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [44]:
pipe.predict(pd.DataFrame([['Audi Q7','Audi',2014,16934
,'Diesel'
]],columns=['name','company','year','kms_driven','fuel_type']))

array([1508752.72625456])